.text {
  &-medium {
    font-family: 'Montserrat', serif;
    font-size: 15px;
    line-height: 23px;
    color: #6c7289;
  }

  &-bold {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    color: #1c232b;
  }

  &-price {
    font-family: 'Fraunces', serif;
    font-size: 32px;
    font-weight: bold;
    line-height: 32px;
    color: #3d8168;
  }

  &-discount {
    font-family: 'Montserrat', serif;
    font-size: 13px;
    line-height: 23px;
    color: #6c7289;
    text-decoration: line-through;
  }

  &-button {
    font-size: 14px;
    line-height: auto;
    color: white;
  }
}
